body {
	margin: 2%;
	font-size: 110%;
}

.lecture {
	margin: 3%;
	padding: 1%;
	border: #000000 solid 5px;
	border-radius: 20px;
}

.subelem {
	margin: 1%;
	padding: 1%;
	border: #000000 solid 5px;
	border-radius: 10px;
}

a {
	text-decoration: none;
	font-size: 120%;
}

#topbar {
	padding: 0%;
	font-size: 150%;
	height: 10%;
}

#topbar td:hover {
	background-color: #bbbbbb;
}
